<h1>Listing Offerings</h1>
<table class="table">
  <thead>
    <tr>
      <th>Course</th>
      <th>Start Time</th>
      <th>Signed Up</th>
      <th>Wait List</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @offerings %>
  </tbody>
</table>

<br>
<% if current_user.is_admin? %>
  <%= link_to "Schedule a class", new_offering_path, class: "btn btn-primary" %>
<% end %>
